@import "~src/assets/styles/variables";

.cart-button {
  width: 58px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  &.active {
    background-color: $white;
    border: solid rgba(184, 184, 184, 0.5);
    border-width: 0 1px;
  }
}
